@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* CSS Document */

:root {
    --iwp-hosting-color-primary: #03337e;
    --iwp-hosting-color-primary-50: #f9fbff;
    --iwp-hosting-color-primary-100: #e3eeff;
    --iwp-hosting-color-primary-400: #78adff;
    --iwp-hosting-color-primary-600: #0d4bab;
    --iwp-hosting-color-secondary: #03337e;
    --iwp-hosting-color-yellow-100: #fff6a7;
}

.notice.notice-warning.iwp-hosting-mig-wrap {
    background: var(--iwp-hosting-color-primary-100);
    border: 1px solid var(--iwp-hosting-color-primary-400);
    border-radius: 5px;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px 8px 16px;
    overflow: hidden;
}

.notice.notice-warning.iwp-hosting-mig-wrap > p {
    font-size: 16px;
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-button {
    background: var(--iwp-hosting-color-primary-600);
    color: var(--iwp-hosting-color-primary-50);
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-button.loading {
    padding-right: 38px;
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-button.loading:after {
    content: ' ';
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    right: 18px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid rgb(255 255 255 / 20%);
    border-right-color: #fff;
    animation: loading 1s linear infinite;
    margin: -8px -8px;
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-button:hover {
    background: var(--iwp-hosting-color-primary);
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-guide-text {
    background: var(--iwp-hosting-color-yellow-100);
    font-size: 12px;
    padding: 5px 8px;
    margin-right: 10px;
    border-radius: 3px;
}

/**
 * Auto migration
 */
.iwp-auto-migration {
    background: #fff;
    border-radius: 8px;
    padding: 32px;
    margin-top: 15px;
    width: calc(100% - 80px);
    position: relative;
    display: inline-block;
}

.iwp-auto-migration h3.iwp-text-header {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 0 16px 0;
}

.iwp-auto-migration h3.iwp-text-header > span {
    text-decoration: underline;
    color: #14855f;
}

.iwp-auto-migration p.iwp-text-content {
    margin: 0 0 16px 0;
    font-size: 16px;
    line-height: 24px;
}

.iwp-auto-migration .iwp-btn-transfer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 18px;
    gap: 8px;
    background: #11BF85;
    border: 1px solid #11BF85;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.iwp-auto-migration .iwp-btn-transfer.loading > svg {
    animation: loading 1s linear infinite;
}

.iwp-auto-migration .iwp-btn-transfer:hover {
    background: #08a571;
    border-color: #08a571;
}

.iwp-auto-migration .iwp-info-shape {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
}


@keyframes loading {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
