@charset "utf-8";
/* CSS Document */

:root {
    --seoroshi-color-primary: #374151;
    --seoroshi-color-secondary: #0f766e;
    --seoroshi-color-secondary-600: #059669;
    --seoroshi-color-primary-dim: #e2e8f0;
    --seoroshi-color-red: #f44336;
    --seoroshi-color-green: #0f766e;
}


.notice.notice-warning.iwp-hosting-mig-wrap {
    background: #ecfdf5;
    border: 1px solid #10b981;
    border-radius: 5px;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px 10px 16px;
    overflow: hidden;
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-button {
    background: #047857;
    color: #ecf8f3;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-button.loading {
    padding-right: 38px;
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-button.loading:after {
    content: ' ';
    position: absolute;
    height: 10px;
    width: 10px;
    top: 50%;
    right: 18px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid rgb(255 255 255 / 20%);
    border-right-color: #fff;
    animation: loading 1s linear infinite;
    margin: -8px -8px;
}

.notice.notice-warning.iwp-hosting-mig-wrap span.mig-button:hover {
    background: #004840;
}


@keyframes loading {
    0% {
        transform: rotate(0deg)
    }
    50% {
        transform: rotate(180deg)
    }
    100% {
        transform: rotate(360deg)
    }
}